@page "/case-list"

@using System.Net.Http.Json
@using thorstopper.Client

@inject HttpClient httpClient

<PageTitle>Auftragsliste</PageTitle>

<h1>Auftragsliste</h1>

<MudGrid>
  <MudItem xs="12" Class="d-flex justify-content-center">
    <MudTable
      Items="@Elements.Take(4)"
      Hover="true"
      Breakpoint="Breakpoint.Sm"
      @ref="mudTable"
      RowClassFunc="@SelectedRowClassFunc"
      OnRowClick="RowClickEvent"
      T="Element"
    >
      <HeaderContent>
        <MudTh>Nr</MudTh>
        <MudTh>Sign</MudTh>
      </HeaderContent>
      <RowTemplate>
        <MudTd DataLabel="Nr">@context.Number</MudTd>
        <MudTd DataLabel="Sign">@context.Sign</MudTd>
      </RowTemplate>
    </MudTable>
  </MudItem>
</MudGrid>

@code {

private int selectedRowNumber = -1;
private MudTable<Element> mudTable;
private List<string> clickedEvents = new();

private IEnumerable<Element> Elements = new List<Element>() {
  new Element() { Number = 1, Sign = "H", Name = "Hydrogen", Position = 0, Molar = 1.00794 },
  new Element() { Number = 2, Sign ="He", Name = "Helium", Position = 17, Molar = 4.002602 },
  new Element() { Number = 3, Sign = "Li", Name = "Lithium", Position = 0, Molar = 6.941 }
  };
private void RowClickEvent(TableRowClickEventArgs<Element> tableRowClickEventArgs)
{
  clickedEvents.Add("Row has been clicked");
}
private string SelectedRowClassFunc(Element element, int rowNumber)
{
  if (selectedRowNumber ==
  rowNumber)
  {
    selectedRowNumber = -1; clickedEvents.Add("Selected Row: None");
    return string.Empty;
  }
  else if (mudTable.SelectedItem != null &&
    mudTable.SelectedItem.Equals(element))
  {
    selectedRowNumber = rowNumber;
    clickedEvents.Add($"Selected Row: {rowNumber}"); return "selected";
  }
  else
  {
    return string.Empty;
  }
}
} 
