@page "/case-detail/{Id}"
@using thorstopper.Client.Data
@using thorstopper.Client.Services

<PageTitle>Auftragsdetails</PageTitle>

<h1>Auftragsdetails</h1>

<MudGrid>
  <MudItem xs="6" Class="d-flex justify-content-center">
    <h1>test</h1>
  </MudItem>
  <MudItem xs="6">
    <h1>test</h1>
  </MudItem>
</MudGrid>

<MudButton Variant="Variant.Filled" OnClick='@((e)=> NavigateTo("/case-list"))'>Zurück</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick='@((e)=> NavigateTo("/offers"))'>Offerten anschauen</MudButton>

@code {
  [Inject] NavigationManager NavigationManager { get; set; }
  [Inject] ICaseService CaseServiceInstance { get; set; }
  
  [Parameter]
  public int Id { get; set; }
  
  private IEnumerable<Case> Elements;
  private Case Element;
  
  protected override async void OnInitialized()
  {
    Elements = await CaseServiceInstance.GetCases();
    Element = Elements.FirstOrDefault(x => x.CaseNumber == Id);
  }

  private async Task NavigateTo(string path)
  {
    NavigationManager.NavigateTo(path, forceLoad: false);
  }

} 
