@page "/case-detail"
@using thorstopper.Client.Data
@using thorstopper.Client.Services

<PageTitle>Auftragsdetails</PageTitle>

<h1>Auftragsdetails</h1>

<MudGrid>
  <MudItem xs="6" Class="d-flex justify-content-center">
    <h1>test</h1>
    <MudText>KI Riskscoring</MudText>
    <MudChip Variant="Variant.Outlined" Color="Color.Success">@AiPredictionRiskScore</MudChip>
  </MudItem>
  <MudItem xs="6">
    <h1>test</h1>
  </MudItem>
</MudGrid>

<MudButton Variant="Variant.Filled" OnClick='@((e)=> NavigateTo("/case-list"))'>Zurück</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick='@((e)=> NavigateTo("/offers"))'>Offerten anschauen</MudButton>

@code {
  [Inject] NavigationManager NavigationManager { get; set; }


[Inject] IAIClassifierService AIService { get; set; }


private int AiPredictionRiskScore;

protected async override void OnInitialized()
{
  // @TODO Prediction test
  AiPredictionRiskScore = await AIService.GetAIRecommendation("text");
}

private async Task NavigateTo(string path)
{
  NavigationManager.NavigateTo(path, forceLoad: false);
}

} 
