@page "/case-detail"

<PageTitle>Auftragsdetails</PageTitle>

<h1>Auftragsdetails</h1>

<MudGrid>
  <MudItem xs="6" Class="d-flex justify-content-center">
    <h1>test</h1>
  </MudItem>
  <MudItem xs="6">
    <h1>test</h1>
  </MudItem>
</MudGrid>

@* <MudButton Variant="Variant.Filled" OnClick="ProcessSomething"
  >Offerten anschauen</MudButton
> *@

@code {
  /*private async Task ProcessSomething() {
  NavigationManager.NavigateTo("/offers", forceLoad: true); }*/
} 
