@page "/offers"

<PageTitle>Angebotsübersicht</PageTitle>

<h1>Angebotsübersicht</h1>
<MudText>Folgende Angebote wurden für den Schadensfall ausgewählt.</MudText>

<MudGrid>
  <MudItem xs="4" Class="d-flex justify-content-center">
      <MudCard Outlined="true">
        <MudCardContent>
            <MudText><strong>Anbieter:</strong></MudText>
            <MudText Typo="Typo.body2">Handwerker Michu, Steffisweg 27, 3612 Steffisurg</MudText>
            <MudText>&nbsp;</MudText>
            <MudText><strong>Angebotsübersicht:</strong></MudText>
            <MudText Typo="Typo.body2">
              <ul>
                <li>Neugestaltung Fassade</li>
                <li>Reparatur Dach</li>
              </ul>
            </MudText>
            <MudText>&nbsp;</MudText>
            <MudText><strong>Offertenpreis:</strong></MudText>
            <MudChip Variant="Variant.Outlined">50'000 CHF</MudChip>
            <MudText>&nbsp;</MudText>
            <MudText><strong>Bounty:</strong></MudText>
            <MudText Typo="Typo.body2">Aufgrund der Distanz wird folgendes Bounty vorgeschlagen.</MudText>
            <MudChip Variant="Variant.Outlined" Color="Color.Success">1'000 CHF</MudChip>

        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Secondary">Anbieter kontaktieren</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Primary">PDF Herunterladen</MudButton>
        </MudCardActions>
      </MudCard>
  </MudItem>
  <MudItem xs="4">
    <MudCard Outlined="true">
        <MudCardContent>
            <MudText><strong>Anbieter:</strong></MudText>
            <MudText Typo="Typo.body2">Handwerker Michu, Steffisweg 27, 3612 Steffisurg</MudText>
            <MudText>&nbsp;</MudText>
            <MudText><strong>Angebotsübersicht:</strong></MudText>
            <MudText Typo="Typo.body2">
              <ul>
                <li>Neugestaltung Fassade</li>
                <li>Reparatur Dach</li>
              </ul>
            </MudText>
            <MudText>&nbsp;</MudText>
            <MudText><strong>Offertenpreis:</strong></MudText>
            <MudChip Variant="Variant.Outlined">50'000 CHF</MudChip>

        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Secondary">Anbieter kontaktieren</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Primary">PDF Herunterladen</MudButton>
        </MudCardActions>
      </MudCard>
  </MudItem>
  <MudItem xs="4">
    <MudCard Outlined="true">
        <MudCardContent>
            <MudText><strong>Anbieter:</strong></MudText>
            <MudText Typo="Typo.body2">Handwerker Michu, Steffisweg 27, 3612 Steffisurg</MudText>
            <MudText>&nbsp;</MudText>
            <MudText><strong>Angebotsübersicht:</strong></MudText>
            <MudText Typo="Typo.body2">
              <ul>
                <li>Neugestaltung Fassade</li>
                <li>Reparatur Dach</li>
              </ul>
            </MudText>
            <MudText>&nbsp;</MudText>
            <MudText><strong>Offertenpreis:</strong></MudText>
            <MudChip Variant="Variant.Outlined">50'000 CHF</MudChip>

        </MudCardContent>
        <MudCardActions>
            <MudButton Variant="Variant.Text" Color="Color.Secondary">Anbieter kontaktieren</MudButton>
            <MudButton Variant="Variant.Text" Color="Color.Primary">PDF Herunterladen</MudButton>
        </MudCardActions>
      </MudCard>
  </MudItem>
  <MudItem xs="12">
    <MudButton Variant="Variant.Filled" OnClick="NavigateTo">Zurück</MudButton>
    <MudButton Variant="Variant.Filled" Color="Color.Primary">Angebote an Kunde versenden</MudButton>
  </MudItem>
</MudGrid>


@code {
  [Inject] NavigationManager NavigationManager { get; set; }

  private async Task NavigateTo()
  {
    NavigationManager.NavigateTo("/case-detail", forceLoad: false);
  }

} 
