@page "/offers"

<PageTitle>Angebotsübersicht</PageTitle>

<h1>Angebotsübersicht</h1>

<MudGrid>
  <MudItem xs="4" Class="d-flex justify-content-center">
    <h1>test</h1>
  </MudItem>
  <MudItem xs="4">
    <h1>test</h1>
  </MudItem>
  <MudItem xs="4">
    <h1>test</h1>
  </MudItem>
</MudGrid>

